        body {
            background-color: white;
         }
        h1 {
            text-align: center;
            font-size: 40px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #000000;
        }

        .form-group {
            margin-left: 1.5%;
            width: 50%;
        }

        .submitButton {
            margin-left: 1.5%;
        }

        