body {
    background-color: white;
 }

.logo {
width: 10%;
height: auto;
margin: 1%;
float: left;
text-align: left;
}

.searchBar {
width: 50%;
float: left;
text-align: center;
margin: 5%;
}

.searchBarBottom {
width: 50%;
float: left;
text-align: center;
margin-left: 5%;
margin-top: 2%;
}

table {
border-collapse: collapse;            
width: 100%;
}

th {
/* border-left: solid 1px #000; */
border: solid 1px #000;
}
td {
border: solid 1px #000;
text-align: center;
padding: 5px;
}

.GenerateStatementDiv
{
text-align: center;
}

/* .top-buttons {
    margin-top: 5px;
} */

.open-button {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
bottom: 23px;
right: 28px;
width: 280px;
}

.form-popup {
display: none;
position: fixed;
bottom: 0;
right: 15px;
border: 3px solid #f1f1f1;
z-index: 9;
}

.form-container {
max-width: 300px;
padding: 10px;
background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

.max-w-2xl
{
    margin-top: 2.5px;
}

.signout-button 
{
    text-align: right;
    align-self: auto;
    margin-right: 10px;
    margin-top: 10px;
}

.top-buttons {
    margin-top: 5%;
    text-align: right;
    align-self: auto;
    margin-right: 10px;
}

.middle-buttons {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    align-self: auto;
    margin-right: 10px;
}

/* .form-container .btn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
} */
